Flask==3.0.0
flask-cors==4.0.0
flask-jwt-extended==4.6.0
werkzeug==3.0.1
supabase==2.3.4
python-dotenv==1.0.0
scapy==2.6.1
scikit-learn==1.6.1
numpy==2.2.3
xgboost>=2.0.0
torch>=2.0.0
matplotlib>=3.8.0
seaborn>=0.13.0

